.stbar_span {
  text-align: center;
  width: 1380px;
}
@media screen and (max-width: 576px) {
  .stbar_notice_dismiss {
    margin-right: 0px!important;
  }
  .stbar_notice {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.stbar_notice_dismiss {
  margin-right: 20px;
}
.stbar_text_option {
  width: 500px;
}
.stbar_notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stbar_top_animation {
  -webkit-animation: stbar_fadeInTop 2s infinite;
          animation: stbar_fadeInTop 2s infinite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.stbar_bottom_animation {
  -webkit-animation: stbar_fadeInDown 2s infinite;
          animation: stbar_fadeInDown 2s infinite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.stbar_notice_dismiss:before {
  background: 0 0;
  display: block;
  font: normal 16px/20px dashicons;
  height: 20px;
  text-align: center;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stbar_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@-webkit-keyframes stbar_fadeInDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}
@keyframes stbar_fadeInDown {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}
@-webkit-keyframes stbar_fadeInTop {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
@keyframes stbar_fadeInTop {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
