.sl147_TB_block {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sl147_span {
    text-align:center;
    width: 100%;
}
.sl147_notice_dismiss {
    margin-right: 20px;
}
@media screen and (max-width: 576px){
    .sl147_notice_dismiss {
        margin-right: 0px!important;
    }
}