.sl147_TB_text{
    width: 900px;              
}
.sl147_TB_section{
    font-size:24px;
    height: 28px;
    padding-top:20px;
    background-color: #f0f0f1;
    margin-left: -10px;
    padding-left: 10px;
}